html{
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
@font-face {
	font-family: monserrat;
	src:url(../fonts/Montserrat-Bold.ttf);
}
body{
    font-family: monserrat;
    margin:0;
    color:black;
}


.containers {
    display: grid;
    grid-template-columns: 1fr;
    background: #f3f3f3;
    height: 100%;
}


.main .cards ,.news{
    width: 90%;
}

/* HEADER ############################################################*/
h1 span{
    color: #d50000;
}
.header{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}
.banner{
    background:rgba(230,226,226);
    position: relative;
}
.navbar{
    background: #fff;
    padding: 0 15px;
    box-shadow: 0 3px #222 inset;
    display: flex;
    position: relative;
    z-index:15;
    justify-content: space-between;
}
#nav-button{
    display: none;
}
.nav{
    transition: all .4s;
    z-index: 200;
    padding: 0;
    background:#e83f16;
    margin: 0;
    width: 100%;
    transform: translateX(-100%);
    list-style: none;
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
}
.label-img{
    z-index: 200;
    background: #e84d28;
    height: 60px;
    width: 60px;
    border: 3px solid #fff;
    border-radius: 5px;
    right: 30px;
    bottom: 30px;
}
.bomber-img{
    box-shadow:2px 2px 1px #222, -2px -2px 1px #222, 0 0 2px 2px #222;
    align-self: center;
    height: 70px;
    width: 75px;
    border-radius: 50%;
    border:none;
}
.bomber-div{

    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
}
.bomber-div h1{
    background: #e2d6d6;
    box-shadow: 2px 2px 1px #222, -2px -2px 1px #222, 0 0 2px 2px #222;
    font-size: 2rem;
    padding: 10px;
    align-self: center;
    margin:auto;
}
.nav-2{
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: none;
}
.nav .item{ 
    color: #222;
    text-align: start;
    font-weight: bold;
    min-height: 50px;
    padding-left: 10px;
}
.item-a{
    height: 50px;
}
#nav-label{
    padding: 10px;
    display: flex;
    align-items: center;
}
.submenu{
    padding-top: 15px;
    padding-left: 0!important;
    text-align:start;
}
.submenu span{
    padding-left: 10px;
}
.nav a{
    color: #222;
    font-weight: bold;
    justify-content: flex-start;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#nav-button:checked ~ .nav{
    transform: translateX(0);
}

/* Menu Sticky ################################################## */

.menu-fixed {
    position: fixed!important;
    box-shadow: 2px 2px;
    background: #fff!important;
}

/* PRESENTATION ################################################*/
.presentation{
    text-align: center;
    padding: 30px 10px;
}
.presentation span{
    color: #bd0000;
}
.presentation h2{
    font-size: 1.2em;
}



/* MAIN #########################################################*/

.main{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

/* CARDS ##########################################################*/

.cards {
    height: 400px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    border: solid 1px #a5a5a5;
}
.cards-img{
    box-shadow: 0 2px 6px 0 #222;
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.cards-p{
    font-size:.9em;
    margin: 0;
    width: 100%;
    padding: 20px;
}
.cards-button{
    color: #fff;
    background:#ce2c2c;
    box-shadow: 1px 1px, 0px -1px, 0 0 0px 1px;
    padding: 10px;
    cursor: pointer;
    line-height: 20px;
    font-size: .9em;
    margin-bottom: 10px;
}
.slider-caption-button:hover , .cards-button:hover, .button:hover{
    background: #960909;
    color: #e0d0d0;
    cursor: pointer;
}
.cards-img , .cards-p , .cards-button{
    flex: none;
}
.cards-news{
    margin-top: 20px;
    color: #dcd9d9;
    background: #560e0e;
    box-shadow: 2px 2px 2px 1px #222, -2px -2px 3px 1px #222, 0 0 0 2px #222;
}
.div-img{
    width: 100%;
    height: 60%;
}
.news{
    padding: 30px 0;
    background: #fff;
    width: 100%;
    height: 300px;
}
.news img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-div{
    position: relative;
    height: 100%;
    width: 100%;
}
.contact-div .caption{
    padding-top: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.caption h4 , .caption p{
    color: #d6d4d4;
    text-shadow: 1px 2px 1px #222;
    text-align: start;
    padding-left: 30px;
}
.button{
    text-align: center;
    color: #fff;
    background:#f72a2a;
    border-radius: 5px;
    width: 35%;
    margin-left: 30px;
    padding: 10px;
}
/* SERVICES ############################################################*/
.main-services{
    grid-gap: 0!important;
}
.services{
    padding-top: 30px;
    background:#e84d28;
    width: 90%!important;
    border: solid 2px #222;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services div{
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background: #fff;
}
.services-img{
    border-radius: 50%;
    display: flex;
    width:150px;
    height: 150px;
    margin: auto;
}
.service-img2{
    display: flex;
    border-radius: 0;
    padding: 25px;
    height: 100%;
    width: 100%;
    margin: auto;
}
.icon3{
    width: 80%;
}
.services-ul{
    margin: 0;
    font-weight: bold;
    color: #e6d3d3;
    font-size: 1.2em;
    text-align: center;
    padding: 0;
    list-style: none;
    width: 100%;
    padding-bottom: 20px;
}
.services h2{
    width: 100%;
    text-align: center;
    color: #e6d3d3;
}
.services h2 span{
    width: 100%;
    display: block;
}
.service-div{
    padding-top: 10px;
    text-align: center;
    margin: 0;
    color: #e6d3d3;
    height: 60px;
    border: 2px solid grey;
    font-size: 1.7em;
    background: #222;
}
/* SLIDER ####################################################################*/
.banner{
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#slider{
    height: 100%;
    display: flex;
    width: 400vw;
}

#slider img {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100%;
}

.slider-item h1 , .slider-item p {
    display: absolute;
}
.slider-caption{
    padding-top: 20%;
    color: #d6d4d4;
    position:absolute;
    width: 95vw;
    top:0;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow:1px 2px 1px #222
}
.slider-caption p{
    padding:0;
    margin: 0;
}
.slider-caption-button{
    color: #fff;
    margin-top: 40px;
    width: 200px;
    padding: 20px;
    text-align: center;
    background:#f72a2a;
    border-radius: 5px;
}

/* FOOTER ##########################################*/

.footer{
    padding: 30px;
    color: #fff;
    width: 100vw;
    background: #231515;
}
.footer h2{
    font-size: 1.3rem;
}
.footer-ul{
    color: #a5a5a5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9rem;
    list-style: none;
    padding: 0;
}
.footer-li{
    padding: 5px 0;
}

.footer-li span{
    display: block;
    color: #940404;
    width: 100%;
}
.footer-div{
    padding: 0 25px;
}

@media screen and (min-width:34em){
    .news{
        height: 400px;
        font-size: 1.1rem;
    }
    .button{
        padding:15px;
        margin-top: 40px;
    }
}

@media screen and (max-width:767px){
    .header{
        height: 500px;
        grid-template-rows: 1fr 4fr !important;
    }
    .icons-bar{
        display: none;
    }
    .bomber-div{
        justify-content: center;
    }
    .bomber-logo{
        display: flex;
    }
    .bomber-logo h1{
        margin-left: 15px;
    }
    .item2{
        padding: 15px;
        background: #d82020;
        color: #e2d6d6; 
        border-top: solid #b91818 0.001em;
    }
    .item2 a{
        color: inherit;
    }
    .item{
        border:solid #b91818 .001em;
    }
}
@media screen and (min-width:48em){
    .caption p{
        padding-right: 20px;
    }
    .main{
        background: #fff;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        padding: 0 40px;
    }
    .cards-news{
        margin-top: 40px;
    }
    .cards-p{
        font-size: .78rem;
    }
    .news{
        height: 500px;
        font-size: 1.2rem;
        background: #fff;
    }
    .button{
        padding:20px;
        margin-top: 40px;
    }
    .contact-div .caption{
        top:50px;
        padding-left: 40px;
    }
    .nav{
        position: relative;
        display: flex;
        height: 52px;
        background: none;
        transform: none;
        top: 0;
        left: 0;
        justify-content: center;
    }
   
    .navbar{
        display: block;
        background: #fff;
    }
    .nav-2{
        margin: 0;
        width: 140px;
        position: absolute;
        background: #fff;
        left: 0;
        top: 50px;
    }
    #nav-label{
        display: none;
    }
    .header{
        grid-template-rows: 40px 2fr 500px;
    }
    .bomber-div{
        justify-content: center;
    }
    .bomber-div h1{
        color: inherit;
        box-shadow: none;
        height: 100%;
        background: #fff;
        padding-top: 20px;
    }
    .bomber-img{
        box-shadow: none;
        border-radius: 0;
    }
    .bomber-logo{
        margin-top: 3px;
        box-shadow: 3px 3px #ce2c2c, -3px -3px #222, 1px 1px 0px 2px #ce2c2c, 
        -1px -1px 0 2px #222;
        display: flex;
        position: relative;
        width: 200px;
        height: 80px;
        background: #fff;
        transition: all 1s;
    }
    .bomber-logo:hover{
        box-shadow: -3px -3px #ce2c2c, 3px 3px #222, 1px 1px 0px 2px #222, 
        -1px -1px 0 2px #ce2c2c;
        color: #8a7e7e;
        cursor: pointer;
    }
  
    .item , .item2{
        text-align: center!important;
        transition: all 1s;
        width: 140px;
        border-top: solid 2px #ce2c2c;
    }
    .item2{
        border-top: solid 1px #222;
    }
    .nav-2 a{
        padding: 10px;
        min-height: 50px;
        max-height: 100px;
    }
    .item a{
        display: block;
        padding-top: 15px;
    }
    .item:hover , .item2:hover {
        cursor: pointer;
        box-shadow: -140px 0 #ce2c2c inset,
        140px 0 #ce2c2c inset;
        color: white;
    }
    .active{
        box-shadow: -140px 0 #ce2c2c inset,
        140px 0 #ce2c2c inset;
        color: white;
    }
    .item a:hover{
        transition: all .8s;
        color:white;
    }
    .submenu{
        padding-top: 15px;
        position: relative;
    }
    /*HEADER ICONS ########################*/
    .icons{
        padding: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        box-shadow:2px 2px 2px 0px #fff, -2px -2px 2px 0px #fff, 0 0 0 2px #fff;
        margin-left: 5px;
        font-size: 20px;
    }
    .icons-div{
        padding: 5px;
        height: 100%;
    }
    .fa-credit-card{
        padding: 6px 3px 5px 4px;
    }
    .icons-bar{
        color:white;
        background: #ce2c2c;
        display: flex;
        justify-content: space-between;
    }
    .icons-time{
        display: flex;
    }
    .icons-time i{
        font-size: 25px;
        padding: 5px;
    }
    .icons-time p, .icons-time span{
        padding: 10px;
        margin: 0;
        font-size: 14px;
    }

    .services{
        background: #f3eeee;
        max-width: 355px;
        transition: all 1s;
    }
    .services-img , .services div{
        box-shadow:  1px 1px #222 , -1px -1px #222,
        0 0 1px 2px #222;
    }
    .services ul ,.services h2{
        color:inherit;
    }
    .services:hover{
        cursor: pointer;
        box-shadow: -355px 0 #e84d28 inset;
        color: white!important;
    }
    .services:hover ~ .services-ul{
        color: #222;
    }
    /*SLIDER ##########################################*/
    .slider-caption{
        padding-top: 15%;
        color: #d6d4d4;
        position:absolute;
        width: 95vw;
        top:0;
        padding-left: 15%;
        padding-right: 15%;
        text-shadow:1px 2px 1px #222
    }
    .slider-caption p{
        padding:0;
        margin: 0;
    }
    .slider-caption-button{
        color: #fff;
        margin-top: 40px;
        width: 30%;
        padding: 20px;
        text-align: center;
        background:#f72a2a;
        border-radius: 5px;
    }
    .slider-item{
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100vw;
    }
    #slider{
        overflow: hidden;
    }
    .slider-img{
        height: 540px!important;
        width: 100%;
    }

    .service-div{
        margin-top: 100px;
        margin-left: 5%;
        border-top-right-radius: 15px;
        width: 35%;
    }
    .containers{
        background: #fff;
    }
    .presentation{
        box-shadow: 0 2px 2px 0 #222;
        background: #e6e2e2;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 40px 60px;
    }
    .footer-ul{
        padding: 30px 0;
    }
    .footer-li{
        padding: 7px 0;
    }
}

@media screen and (min-width:64em){
    .main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }
    .cards-news{
        max-width: 355px;
        margin-top: 40px;
    }
    .cards-p{
        font-size: .8rem;
    }
    .news{
        height: 800px;
        font-size: 1.4rem;
    }
    .button{
        font-size: 1.6rem;
        padding:30px;
        margin-top: 80px;
    }
    .contact-div .caption{
        top:80px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .icons-time p, .icons-time span{
        font-size: 1em;
    }
    .caption-container{
        margin-top: 10%;
    }
    
}
@media screen and (max-width:60em){
    .header{
        grid-template-rows: 40px 2fr 400px;
    }
    .slider-caption{
        padding-top: 10%;
    }
    .caption p{
        padding-right: 20px;
    }
}

@media screen and (min-width:70em){
    .icons-bar{
        padding: 0 10%;
    }
    .presentation{
        padding: 30px 10%;
    }
}

@media screen and (max-width:34em){
    .header{
        height: 450px!important;
    }
    .bomber-div{
        justify-content: center;
    }
    .bomber-logo{
        display: flex;
    }
    .bomber-logo h1{
        margin-left: 15px;
    }
    .contact-div .caption{
        padding-top: 30px;
        font-size: .7em; 
        padding-right: 30px;
    }
    .slider-caption p{
        font-size: .7em;
    }
}
@media screen and (max-width:25em){
    .cards-p{
        font-size: .7em!important;
    }
    .contact-div .caption{
        padding-top: 30px;
        font-size: .7em;
        padding-right: 30px;
    }
    .slider-caption p{
        font-size: .7em;
    }
}
